
body {
    background-color: #c2c2c1;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    max-width: 1000px;
}

.back{
    text-align: center;
}

h1 {
    color: #0b0104;
    font-family: 'Impact', sans-serif;
}

.button{
    background-color: #14b94b;
    color: white;
    height: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    align-items: center;
    margin: 25px auto;
    box-shadow: 0 0 15px;
}
.download{
    text-align: center;
    font-size: larger;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button:hover{
    background-color: #061c07;
}
.description{
    text-align: center;
    font-size: x-large;
    border-radius: 10px;
    background-color: rgb(246, 88, 88);
    color: #000b01;
    padding: 10px;
    max-width: 1000px;
    margin: 15px auto;
    box-shadow: 0 0 15px rgb(39, 1, 1);
}
.screenshots{
    text-align: center;
    border-radius: 10px;
    margin: 10px auto;
    background-color: #f96666;
    max-width: 1000px;
    padding: 15px;
    box-shadow: 0 0 15px rgb(32, 32, 32);

}
.features{
    border-radius: 10px;
    background-color: #f96666;
    padding: 15px;
    max-width: 1000px;
    margin: auto;
    color: #000b01;
    box-shadow: 0 0 5px rgb(33, 33, 0);
}
img{
    border-radius: 10px;
    margin-right: 20px;
    display: inline;
    gap: 20px;
    transition: 0.5s ease;
}
img:hover{
    transform: scale(1.2);
}
footer{
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
    margin: 0;
    font-size: larger;
    background-color: rgb(41, 49, 172);
}
h4{
    color: #ecf1ed;
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.2rem;
    }
    
    .description {
        font-size: medium;
        padding: 5px;
    }
    .features{
        font-size: small;
    }
    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: x-small;
    }
    
}